*{
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: verdana, arial, sans-serif;
}

.nav-item{
    margin-left: 10px;
    background-color:  #546e7a;
}

nav{
    color:  #fff;
    display: flex;
    flex-direction: row;
}

body {
    min-height: 100vh;
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100%;
    background-color: #37474f;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

article {
    order: 0;
    background-color: #546e7a;
    flex: 2 2 12em;
    padding: 1em;
}

.rightAside {
    order: 1;
    flex: 1;
    background-color: #455a64;
}

.leftAside {
    order: -1;
    background-color: #455a64;
}
 
header, footer {
    flex: 0 0 5em;
    background-color: #37474f;
}

.appview{
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.wiki-frame{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
textarea{
    width: 100%;
    height: auto;
}
.save-button-invisible{
    display: none;
}
.save-button-visible{
    display: inline;
}

@media (max-device-width:480px) {
    main {
        flex-direction: column;
    }
}